# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConsoleApp2.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Student\RiderProjects\ConsoleApp2\.idea\.idea.ConsoleApp2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
